html {
  background: url(../images/headerBackground.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
}

body {
  margin-bottom: 0px;
}

#name, #construction {
  font-size: 64px;
  font-family: Impact;
  color: lightgray;
  text-align: center;
  font-weight: lighter;
  letter-spacing: .08em;
  font-style: oblique;
  text-decoration: underline;
  margin: auto;
  position: relative;
  top: 30px;
}

#construction {
  font-size: 22px;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}

#projectList {
  color:white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Courier New";
  font-weight:bold;
}

#projectListHeader {
  color:white;
  font-family: "Courier New";
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 50px;

}


a {
  color:inherit;
  text-decoration: inherit;
  box-shadow: 0px 3px 19px #8b7ef1;
  line-height: 1.34em;
  box-shadow: inset 2px 1px 20px 1px #8b7ef1;
 }


#projectList a, #projectListHeader {
  background-color: rgba(32, 26, 103, 0.48);

  }

#projectList a:hover {
  background-color:  rgba(53, 106, 37, 0.8);
  box-shadow: inset 0px 4px 25px coral;
  }

#projectList a {
  transition-property: background-color;
  transition-duration: 0.3s;
  border-radius: 20px;
  padding: 2px 10px;

}
