body {
  background: url('../images/56044_1_miscellaneous_digital_art.jpg');
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
}

#name, #construction {
  font-size: 64px;
  font-family: Impact;
  color: lightgray;
  text-align: center;
  font-weight: lighter;
  letter-spacing: .08em;
  font-style: oblique;
  text-decoration: underline;
  margin: auto;
  position: relative;
  top: 30px;
}

#construction {
  font-size: 22px;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}

#projectList {
  color:white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Courier New";
  font-weight:bold;
}

#projectListHeader {
  color:white;
  font-family: "Courier New";
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 50px;

}


a {
  color:inherit;
  text-decoration: inherit;


 }


#projectList a, #projectListHeader {
  background-color: rgba(32, 26, 103, 0.78);

  }

#projectList a:hover {
  background-color:  rgba(53, 176, 37, 0.78);
  }
